body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

.header {
    width: 100%;
    height: 69px;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid seashell;
    background-color: black;
}

.navagation {
    float: right;
    text-decoration: underline;
    color: seashell;
    overflow: auto;
    padding-right: 10%;
    word-spacing: 5px;
}

a:link {
    color: seashell;
  }

.logo {
    height: 50px;
}


.main {
    background: url(images/img-mission-background.jpg);
    height: 700px;
    width: 1000px;
    background-position: center;
    margin: 50px auto 50px auto; 
    display: flex;
}

.text-main {
    background: black;
    margin: auto;
    overflow: auto;
    width: 100%;
    text-align: center;
}

.text {
    text-align: center;
}

.tea-container {
    display: inline-flex;
    max-width: 1000px;
    height: auto;
    flex: wrap;
}

.tea img {
    height: 200px;
    width: 300px;
    padding: 10px;
}

.location {
    background: url(images/img-locations-background.jpg);
    height: 500px;
    width: 1000px;
    margin: 50px auto 50px auto; 
    display: flex;
    background-repeat: no-repeat;
    background-size:cover;
}

.box-container {
    max-width: 1000px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}

.box {
   height: 300px;
   padding: 40px;
   flex: auto;
   background-color: black;
   margin-bottom: auto;
   box-sizing: border-box
}
